/*  your css code here. If applicable */

#buttons{
	
	height:50vh;
	display:flex;
	justify-content:space-around;
	 align-items: center;
	background:#A164DF;
	
	

}

.btn{
	padding:10px 20px;
	background:#663399;
	border:none;
	color:white;
	border-radius:5px;
}
